header::first-letter{
    text-transform: uppercase;
}

body{
    padding: 1rem;
    display: grid;
    gap: 2rem;
    min-height: 100vh;
}
header,main,nav,aside,div,footer{
    border: 2px solid rgb(14, 14, 42);
    min-height: 20vh;
    border-radius: 10px;
    padding: 1rem;
}
nav ul{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 4%;
}
main{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
main li{
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 3%;
}

@media all and (min-width: 500px){
    body{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header header"
        "nav main"
        "aside div"
        "footer footer";
    }
    header{
        grid-area: header;
    }
    footer{
        grid-area: footer;
    }
    nav ul{
        flex-direction: column;
        align-items: start;
    }
}

@media all and (min-width: 700px){
    body{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    header{
        grid-column: 1/4;
    }
    nav, main{
        grid-row: 2/4;
    }
    main{
        grid-column: 2/3;
    }
    footer{
        grid-column: 1/4;
    }
}
