body{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
main{
    display: grid;
    gap: 1rem;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h2:nth-of-type(2){
    margin-top: 1rem;
}

ul{
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 194, 209, 0.4);
    margin-bottom: 1.5rem;
}
ul:first-of-type{
    flex-direction: row;
}
li{
    border: 1px solid rgb(150, 140, 171, 0.5);
    flex: 1 1 auto;
    padding: 1rem 0;
    text-align: center;
}
.lijst-1{
color: #0d6efd;
}
.lijst-2{
    color: #198754;
}
.lijst-3{
    color: #0dcaf0;
}
.lijst-4{
    color: #ffc107;
}
.lijst-5{
    color: #dc3545;
}
.lijst-6{
    color: #ffffff;
}

@media all and (min-width: 576px){
    .lijst-2{
        flex-direction: row;
    }
}
@media all and (min-width: 768px){
    .lijst-3{
        flex-direction: row;
    }
}
@media all and (min-width: 992px){
    .lijst-4{
        flex-direction: row;
    }
}
@media all and (min-width: 1200px){
    .lijst-5{
        flex-direction: row;
    }
}
@media all and (min-width: 1400px){
    .lijst-6{
        flex-direction: row;
        background-color: #cf04beb4;
    }
}